* {
	padding: 0px;
	margin: 0px;
	border: none;
}

html{
    scroll-behavior: smooth; 
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

body{
    position: relative;
    font-size: 16px;
    color: #000;
    min-width: 320px;
    overflow-x: hidden;
    height: auto;
    background-color: #8BAAD9;
}
 a {
    text-decoration: none;
 }
   
.first-slide{
    background-image:url("./11stockvault-quadrocopter156696\ 1.png");
    background-repeat: no-repeat;
    background-size: 100vw;
    padding-bottom: 260px;
    background-position: center;
    height: 100vh;
}
.navbar{
    width: 100%;
    height: 92px;
}
.container{
    width: 100%;
    max-width: 1130px;
    margin: 0 auto;
    padding: 0 15px;
}

.navbar{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items:center ;
    padding: 30px 40px;
    background-color: #ECECEC;
    border-radius: 25px;
    margin: 0 auto;
}

.navbar-menu{
    list-style: none;
}

.navbar-menu li{
    display: inline-block;
    margin-right: 64px;
}
.navbar-menu li a {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #1E1E1E;
}

.navbar-menu li a:hover{
    color: #BB2F3A;
}

.navbar-wrap{
    display: flex;
    flex-flow: row nowrap;

}

.navbar-language a{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #1E1E1E;
    margin: 0 11px;
}

.navbar-profile{
    margin-left: 60px;
}


/* Main */

.main{
 margin-top: 112px;
}

.main-title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 48px;
    color: #1E1E1E;
    margin-bottom: 28px;
}

.main-text{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #1E1E1E;
    line-height: 22.4px;
    margin-bottom: 60px;
}

.btn{
    background-color: #BB2F3A;
    padding: 25px 44px;
    font-family: 'Ubuntu', sans-serif;
    color: #ECECEC;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 60px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
}

/* About */

.about{
    background-color: #BB2F3A;
    display: flex;
    padding-top: 90px;
    height: 100vh;
}

.about-items{
    display: flex;
    flex-wrap: wrap;
}

.about-item{
    width: 50%;
    padding: 0 15px; 
}

.about-title{
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 28px;
    color: #ECECEC;
}

.about-text{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22.4px;
    color: #ECECEC;
    margin-bottom: 60px;
}

.about-img{
    margin-bottom: 40px;
}

/* Clients */

.clients_title{
font-family: 'Ubuntu';
font-weight: 700;
font-size: 40px;
line-height: 46px;
color: #1E1E1E;
margin-top: 80px;
margin-bottom: 30px;
}

.clients_video{
    display: flex;
    justify-content: space-between;
}

.clients_video_item{
    width: 30%;
    margin-bottom: 30px;
}

.partners_title{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 41px;
    color: #1E1E1E;
    margin-bottom: 35px;
}

.partners{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    
}

.partners_item{
    width: 33%;
    margin-bottom: 60px;
}

/* Review */

.review{
    background-color: #BB2F3A;
    margin-top: 120px;
}

.reviews{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 160px;
}

.review_title{
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    color: #ECECEC;
    padding-top: 123px;
    margin-bottom: 30px;
}

.reviews_item{
    background: #ECECEC;
    border-radius: 26px;
    text-align: center;
    width: 350px;
    height: 230px;
    padding: 28px 29px;
    margin-bottom: 30px;
}

.review_name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    color: #1E1E1E;
    margin: 10px 0;
}

.review_text{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 140%;
    color: #1E1E1E;
    text-align: center;
}

/* Delivery */

.delivery{
    background-image: url(./delivery_background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.delivery_title{
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 46px;
    text-align: center;
    color: #1E1E1E;
    padding-top: 115px;
}

.delivery_text{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    color: #1E1E1E;
    margin-top: 28px;
    margin-bottom: 80px;
}

.delivery_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.delivery_form-item{
    margin-bottom: 30px;
    width: 400px;
    height: 30px;
    background-color: transparent;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 7px;
}

input::placeholder{
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    color: rgba(30, 30, 30, 0.35);
}

.delivery_form-input{
    display: flex;
    justify-content: space-between;
}

.delivery_form-input p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #1E1E1E;
}

.delivery_form-input a{
    color: #BB2F3A;
    cursor: pointer;
}

.delivey_form-checkbox{
    margin-right: 10px;
}

.delivery_btn{
    text-align: center;
    
}

.btn-delivery{
    background-color: #BB2F3A;
    padding: 22px 88px;
    font-family: 'Ubuntu', sans-serif;
    color: #ECECEC;
    font-size: 25px;
    font-weight: 700;
    margin:40px 0 60px 0;
    border-radius: 4px;
    text-align: center; 
    cursor: pointer;
}

/* Footer */
.footer{
    background: #D7D7D7;
    padding: 32px 160px;
}

.footer_content{
    display: flex;
    justify-content: space-between;
}

.footer_content-item{
    width: 30%;
}

.footer img{
    margin-bottom: 32px;
}

.footer p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #1E1E1E;
    font-weight: 700;
}

.footer_links{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.footer_links-item{
    margin: 0 30px 20px 0;
    text-align: center;
}

.footer_callback{
    text-align: right;
}

.callback_link{
    padding-bottom: 20px;
}

.footer a{
    text-decoration: none;
    color: #1E1E1E;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
